.employeeCountContainer {
  background-color: #385f71;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
}

.employeeSummaryContainer {
  background-color: #2b4162;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
}

.employeeCount {
  font-weight: bold;
}
